@model List<Menu>

@foreach (var menu in Model.OrderBy(p => p.OrderNo))
{
    @*  <li class="nav-item">
        <a href="#" class="nav-link active">
            <i class="far fa-circle nav-icon"></i>
            <p>Active Page</p>
        </a>
    </li> *@
    <li class="nav-item">
        <a asp-action="@menu.ActionName"
           asp-controller="@menu.ControllerName"
           asp-area="@menu.AreaName"
           class="@menu.ClassName">
            <i class="@menu.IconName"></i>
            <p>@menu.MenuName</p>
        </a>
    </li>
}